<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle Tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #taskForm="ngForm">
    <ion-item class="ion-item">
      <ion-label style="text-align: left;">Título</ion-label>
      <p>{{ task.title }}</p>
    </ion-item>

    <ion-item class="ion-item">
      <ion-label style="text-align: left;">Descripción</ion-label>
      <p>{{ task.descripcion }}</p>
    </ion-item>

    <ion-item class="ion-item">
      <ion-label style="text-align: left;">Fecha de vencimiento</ion-label>
      <p>{{ task.expirationDate | date:'dd/MM/yyyy' }}</p>
    </ion-item>

    <ion-item>
      <ion-label>Estado</ion-label>
      <ion-badge
      [color]="task.state ? 'success' : 'warning'"
      class="estado-badge">
      {{ task.state ? 'Completada' : 'Pendiente' }}
    </ion-badge>
    </ion-item>
  </form>
</ion-content>
